{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": "airbnb-base",
	"overrides": [],
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module"
	},
	"rules": {
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-tabs": 0,
		"no-console": "off",
		"no-labels": "off",
		"no-restricted-syntax": "off",
    "linebreak-style": 0,
	}
}
