:root {
    --b-c--turquose: #40E0D0;
    --b-c--fuxia: #FF00FF;
    --b-c--cherry-red: #481513;
    --b-c--yellow: #FFFF00;
    --b-c--brown: #804030;
    --b-c--cream: #FFFDD0;
    --b-c--Dpurple: #301934;
    /* bs-colors customize*/
    --bs-body-color: var(--b-c--cherry-red);
    --bs-body-bg: var(--b-c--cream);
    --bs-primary: var(--b-c--Dpurple);
    --bs-secondary-color: var(--b-c--brown);
    --bs-warning: var(--b-c--yellow);
}
* {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
header {
    background-color: var(--b-c--turquose);
}
